<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test  name="Test">
        <classes>
            <class name="TestCases.OmniFullfillment.TC_01_OmniFullfillmentHomePage_Validations"/>
            <!--<class name="TestCases.OmniFullfillment.TC_02_OmniFullfillment_WorkLoad_Validations"/>-->
            <!--<class name="TestCases.OmniFullfillment.TC_03_OmniFullfillment_SearchPage_Validations"/>-->
        </classes>
    </test>
</suite>
